<%- include('../partials/header.ejs'); %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><%=user.username%></h4>
                    <h4><%=user.score%></h4>
                </div>
            </div> 
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs'); %>